* {
  margin: 0;
  margin-top: 30px;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}


.container-3 {
  background: url(../imag/logo3.jpg);
  background-size: cover;
  width: 89rem;
  display: flex;
  margin-top: 0.5rem;
  justify-content: center;
  gap: 5rem;
  padding-top: 20rem;
}


.container-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  text-align: center;
  margin-top: 3rem;

}

.container-1 img:hover {
  transform: scale(0.9) translateY(-5px);
  cursor: pointer;
  transition: 0.3s;
}

.container-card-2 img {
  width: 250px;
  height: auto;
}

.container-1 button {
  width: 90px;
  height: auto;
  cursor: pointer;
  color: #111;
  font-weight: 700;
  background: #fff;
}

.container-card-2 {
  background-color: #D8BFD8;
  color: #000;
}
